
/* Estudent Profile */
.profile-bar {
    transition: box-shadow .3s;
    /* background-image: url(''); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px;
}

.profile-bar .buttons {
    border: 0px 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
} 

.profile-bar .contents img {
    display: block;
    width: 70px;
    margin: auto;
    padding-top: 25px;
}

.profile-bar .contents .profile-name {
    text-align: center;
    margin: 10px 0px; 
    font-weight: 600;
    color: #868686;
    font-size: 40px;
}

.profile-bar .contents .profile-description {
    text-align: center;
    margin: 10px 0px;
    font-weight: 600;
}

.profile-bar .contents .buttons {
    text-align: center;
    background-color: #055160;
}

.profile-bar .contents .buttons ul {
    list-style: none;
    -webkit-padding-start: 0;
}

.profile-bar .contents .buttons ul li {
    display: inline-block;
    margin: 15px 20px;
}

.profile-bar .contents .buttons ul li a {
    display: block;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.2s all linear;
    color: #ffffff;
}

.profile-bar .contents .buttons ul li a:hover {
    opacity: 1;
    transition: 0.2s all linear;
    color: #aaaaaa;
    text-decoration: underline;
}

.profile-bar .contents .buttons ul li a span {
    font-size: 1rem;
    display: block;
}
 
/** End Profile **/
 
li{
    font-size: 1rem;
}

li:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.removeMenu{
    display: none; 
}