<div class="row">
    <div class="col-12 p-0">
        <div class="profile-bar cardHover">
            <div class="contents">
                <p class="profile-name p-5"> 
                    Ê-Study
                </p>  
                <p class="profile-description">
                    {{name}}
                    <app-timer></app-timer>
                </p>
                <div class="buttons">
                    <ul>
                        <li *ngFor="let item of itens" (click)="Rota(item['route'])" >
                           <span [ngClass]="{'active': selected == item['display']}"> {{item['display']}} </span> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


