<div class="container">
  <div class="row">
    <h1>Lista de estudantes</h1>
  </div>
  <hr>
  <div class="card">
    <div class="card-body w-100" style="overflow: auto;">
      <table id="grade" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
        class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Editar</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user["nr_registry"] }}</td>
            <td>{{ user["nm_user"] }}</td>
            <!-- <td><button class="btn btn-success text-white" (click)="openDialog(user);">Editar</button></td> -->
            <td><button class="btn btn-success text-white" (click)="openDialog(user)">Editar</button></td>
            <td>
              <mat-slide-toggle 
              [checked]="user['isActive']" 
              color="danger" #tg
              (toggleChange)="toggleActived(user, tg.checked)"
              >
              </mat-slide-toggle>
              <span style="font-size: 1rem;" *ngIf="tg.checked != true">
                Desativado
              </span>
              <span style="font-size: 1rem;" *ngIf="tg.checked == true">
                Ativo
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>