<div class="container">
  <div class="row">
    <h1>Lista de estudantes</h1>
  </div>
  <hr>
  <div class="row">
    <section *ngFor="let user of users">
      <div class="content">
        <p class="id">{{user.nr_registry}}</p>
        <span class="name">{{user.nm_user}}</span>
      </div>
      <mat-form-field appearance="fill" (click)="ListUser(user.nr_registry);">
        <mat-label>Ações</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="option2" (click)="openDialog();">Editar estudante</mat-option>
          <mat-option class="noyet  " value="option3" (click)="DeleteUser(user.nr_registry); ">Desativar estudante
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </div>
</div>