<section>
    <div>
        <li><span class="material-icons">warning</span><h1>Avisos</h1></li>
    </div>

    <div id="avisos">
        <ul>
            <li><span class="material-icons material-positions">message</span><span class="text">Prezado(a) professor: O prazo para o lançamento de notas está próximo!</span></li>
            <li><span class="material-icons material-positions">message</span><span class="text">Prezado(a) professor: Informamos que o encontro presencial de docentes foi adiado para o proximo mês.</span></li>
        </ul>
    </div>
</section>