<section>
    <div>
        <li><span class="material-icons">warning</span><h1>Avisos</h1></li>
    </div>

    <div id="avisos">
        <ul>
            <li><span class="material-icons material-positions">message</span><span class="text">Prezado(a) professor: O prazo para o lançamento de notas está próximo!</span></li>
            <li><span class="material-icons material-positions">message</span><span class="text">Prezado(a) professor: Conforme calendário, gentilezar o envio da ata de chamada para a secretaria</span></li>
        </ul>
    </div>
</section>