<section class="col-12 border rounded-3 p-3 m-3">
    <div>
        <li><span class="material-icons">warning</span><h1>Avisos</h1></li>
    </div> 
    <div id="avisos">
        <ul>
            <li><span class="material-icons material-positions">message</span><span class="text">Prezado(a) estudante: A avaliação integradora está próxima!</span></li>
            <li><span class="material-icons material-positions">message</span><span class="text">Prezado(a) estudante: A nota da avaliação integradora será liberada em até 5 dias úteis após a realização da mesma.</span></li>
        </ul>
    </div>
</section>