<nav>

    <div id="nav-bar">
        <h1 id="nav-bar-title">Ê-Study</h1>
    </div>
        
    <div id="nav-menu">
        <ul>
            <li><a href="navbar"><span class="material-icons">cottage</span>Home</a></li>
            <li><a href="navbar"><span class="material-icons">history_edu</span>Provas</a></li>
            <li><a href="navbar"><span class="material-icons">star_outline</span>Notas</a></li>
            <li class="logout"><a href="navbar"><span class="material-icons">logout</span>Logout</a></li>
        </ul>
    </div>

</nav>