/*Reset*/
*{
    text-align: center;margin: 0 auto;padding: 0;list-style: none;
    font-family: 'Mitr', sans-serif;width: 100%;text-decoration: none;
    font-size: 24px;
}

/*Header Nav*/
#nav-bar{ 
    padding: 40px 0;
    width: 90%;
    border-bottom: 2px solid #C4C4C4;
}
#nav-bar-title{
    color: #868686;
    font-size: 40px;
}

/*Nav Bar Item*/
li{
    padding: 40px 0;
}
.material-icons{
    top: 5px;
    position: relative;
    width: 10%;
}

a{
    padding: 10px;
    color: #565656;
}
a:hover{
    color: #5230d0;
    text-decoration: underline;
}

a:active{
    color: #39b8bf;
    text-decoration: underline;
}


nav{
    width: 400px;
    min-height: 100vh;
    background-color: #F7F7F7;
    border: 2px solid white;

}

/*Nav Bar*/
#nav-menu{
    margin-top: 20%;
}

.logout{
    margin-top: 200px;
}