<div class="">
    <h1>{{user.nm_user}}</h1>
    <hr />
    <section>
        <h5>MATRÍCULA: {{user.nr_registry}} - {{user.nr_userid}}</h5>
        <form ngNativeValidate (ngSubmit)="onStudentSubmit()">
            <p></p>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome" formControlName="nm_user"
                    value="{{user.nm_user}}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" formControlName="ds_email"
                    value="{{user.ds_email}}" required>
            </div>
            <input type="submit" class="btn btn-primary mt-4" value="Atualizar">
            <button class="btn btn-secondary mt-4 ml-2 ">Cancelar</button>
        </form>
    </section>
    <hr />
    <h5>AVALIAÇÕES</h5>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <td>AVALIAÇÃO</td>
                <td>NOTA</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userevaluation  of userevaluations;let index">
                <td>Atividade Avaliativa {{index+1}}</td>
                <div class="form-group">
                    <form ngNativeValidate>
                        <td><input type="text" class="form-control " [name]="'nome'+index" [id]="'dr_grade'+ index"
                                [formControlName='dr_grade' + index] placeholder="{{userevaluation.dr_grade}}" required>
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary mt-4 update" value="Atualizar"
                                (click)="onEvaluationSubmit(this.userevaluation.nr_userevaluationid)">
                            <button class="btn btn-secondary mt-4 ml-2 ">Cancelar</button>
                        </td>
                    </form>
                </div>
            </tr>
        </tbody>
    </table>
</div>

