@import '~bootstrap/dist/css/bootstrap.min.css';

/* Import Google Fonts */
/* Title */@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* Body */@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Default colors */
:root{
    --color-bg-body: #ffffff;    
    --color-title: rgb(54, 54, 54); 
    --color-text:rgb(86, 86, 86);
} 
   
body{
    background-color: var(--color-bg-body);
}

h1,h2,h3,h4,h5,h6{  
    font-family: 'Poppins', sans-serif;
    color: var(--color-title);
}

p, label, table, th, td, tr{font-family: 'Nunito', sans-serif;
    color: var(--color-text);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
.container-body {
    min-height: calc(100vh - 300px);
    background-color: white;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.cardHover:hover {
    transition: box-shadow .5s;
    box-shadow: 0 0 15px rgba(33, 33, 33, .4);
    transform: scale(1);
    border-radius: 5px;
    border: 1px 1px solid #ccc; 
}
.active {
    text-decoration: underline;
    color: white; 
}


/** Content */
.flex-fill {
    flex: 1 1 auto;
    background-color: white;
} 

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}