<section>
    <h1>Abril - 2022</h1>
    <div id="legenda">
        <div id="mark">
        <p class="avaliacao">Avaliação</p>
        <p class="feriado">Feriado</p>
        </div>
    </div>

    <table>   
        <thead>
            <th>DOM</th>
            <th>SEG</th>
            <th>TER</th>
            <th>QUA</th>
            <th>QUI</th>
            <th>SEX</th>        
            <th>SAB</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
            <tr>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td class="feriado">14</td>
                <td class="feriado">15</td>
                <td>16</td>
            </tr>
            <tr>
                <td>17</td>
                <td class="avaliacao">18</td>
                <td>19</td>
                <td>20</td>
                <td class="feriado">21</td>
                <td class="feriado">22</td>
                <td>23</td>
            </tr>
            <tr>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td class="avaliacao">30</td>
            </tr>
        </tbody>
    </table>
</section>