*{  
    padding: 0;
    font-family: 'Mitr', sans-serif;
    color: #565656;
}
h1{
    font-size: 20px;
}
#legenda{
    top: -38px;
    position: relative;
    text-align: right;
} 
.avaliacao{
    color: #FF0000;
}
.feriado{
    color: #214EEE;
} 

table{
    margin: 0 auto;
    text-align: center;
}
th{
    width: 5%; 
} 
td{
        padding: 10px;
}